## Data Understanding

**1.0. What is the domain area of the dataset?**  
The dataset *boston.csv* contains information collected by the U.S Census Service concerning housing in the area of Boston Mass!  

**1.1. Under which circumstances was it collected?**  
t was obtained from the StatLib archive (http://lib.stat.cmu.edu/datasets/boston)!  

**2.0. Which data format?**  
The format of the dataset is *.RDATA*!
But the dataset is converted then to the *.csv* format!    

**2.1. Do the files have headers or another file describing the data?**  
The files does have headers that describes the data! Each column has a name that describes the data it contains!  

**2.2. Are the data values separated by commas, semicolon, or tabs?**  
The data values are separated by commas!  
Example: *Somerville	-71.0677	42.2335	17.4	0.32264	0.0	21.89	0	0.624	5.942	93.5	1.9669	4	437	21.2	16.90	5238.464894*  

**3.0 How many features and how many observations does the dataset have?**  
The dataset has:  
* 17 features or columns!
* 480 observations or rows!  

**4.0 Does it contain numerical features? How many? What are the feature names?**  

**5.0. Does it contain categorical features?  How many? What are the feature names? Are they ordinal or nominal?**

## Exploratory Data Analysis

In [26]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pyreadr

In [27]:
bostonRData = pyreadr.read_r("../Datasets/Boston_census_data.RData")

In [28]:
# Converting the 'bostonRData' to Pandas dataframe!
boston = bostonRData['Boston_census_data']

In [29]:
boston.head()

,town,longitude,latitude,median_home_value,crime_rate,zoned_25k_p,indust_p,borders_charles,NOx,n_rooms_avg,before_1940_p,employ_dist,radial_access,tax_rate,pupil_teacher_ratio,lower_stat_pct,dist_fenway_park
0,Somerville,-71.0677,42.2335,17.4,0.32264,0.0,21.89,0,0.624,5.942,93.5,1.9669,4,437,21.2,16.90,5238.464894
1,Weymouth,-70.9650,42.1503,18.7,0.06151,0.0,5.19,0,0.515,5.968,58.5,4.8122,5,224,20.2,9.29,16343.799411
2,Boston East Boston,-71.0215,42.2270,12.3,7.99248,0.0,18.10,0,0.700,5.520,100.0,1.5331,24,666,20.2,24.56,9473.040432
3,Boston Forest Hills,-71.0511,42.1879,13.3,6.39312,0.0,18.10,0,0.584,6.162,97.4,2.2060,24,666,20.2,24.10,7692.103123
4,Boston Savin Hill,-71.0455,42.1768,14.4,9.51363,0.0,18.10,0,0.713,6.728,94.1,2.4961,24,666,20.2,18.71,8409.662136

In [25]:
bbDF.shape[0], bbDF.shape[1]

(480, 17)

#### Dataset's Features/Variables  

**CRIM** - per capita crime rate by town!  
**ZN** - proportion of residential land zoned for lots over 25,000 sq.ft.  
**INDUS** - proportion of non-retail business acres per town.  
**CHAS** - Charles River dummy variable (1 if tract bounds river; 0 otherwise)  
**NOX** - nitric oxides concentration (parts per 10 million)  
**RM**- average number of rooms per dwelling  
**AGE** - proportion of owner-occupied units built prior to 1940!  
**DIS** - weighted distances to five Boston employment centres!  
**RAD** - index of accessibility to radial highways!  
**TAX** - full-value property-tax rate per $10,000!  
**PTRATIO** - pupil-teacher ratio by town!  
**B** - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town!  
**LSTAT** - % lower status of the population!  
**MEDV** - Median value of owner-occupied homes in $1000's!

In [3]:
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [16]:
test = boston['CHAS'] == 0
test

0      True
1      True
2      True
3      True
4      True
       ...
501    True
502    True
503    True
504    True
505    True
Name: CHAS, Length: 506, dtype: bool

In [4]:
# Basic statistics
boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
print(f"Number of features in the dataset is {boston.shape[1]} and the number of observations/rows in the dataset is {boston.shape[0]}")

Number of features in the dataset is 14 and the number of observations/rows in the dataset is 506

In [9]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [7]:
boston.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [11]:
for col in boston.columns:
    print(col, boston[col].unique().sum())

CRIM 1814.0942100000002
ZN 1226.0
INDUS 465.88000000000005
CHAS 1
NOX 41.8999
RM 2808.212
AGE 22181.7
DIS 1409.05
RAD 60
TAX 20688.0
PTRATIO 803.9000000000001
B 121531.93000000001
LSTAT 5862.859999999999
MEDV 5300.3