### Main Question:

> A candidate that we are considering to hire is asking for a salary of 160,000 US dollars per year. He justifies this by claiming that he earned the same amount at his previous company! The person/candidate has worked as region manager for two years!  

> **Is his claim true or is it a bluff?**

## Data Understanding  

**1.0. What is the domain area of the dataset?**  
The dataset *Position_Salaries.csv* contains information about different salaries at a company for different positions!  

**1.1. Under which circumstances was it collected?**  
It was obtained through different websites!  

**2.0. Which data format?**  
The data is in *CSV* format!

In [5]:
# Importing libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [6]:
position_dataset = pd.read_csv("../Datasets/Position_Salaries.csv")

In [7]:
RANDOM_STATE = 42

## Basic Exploratory Data Analysis

In [8]:
position_dataset.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [9]:
position_dataset.describe()

          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

In [10]:
print(f"Number of features in the dataset is {position_dataset.shape[1]} and the number of observations/rows in the dataset is {position_dataset.shape[0]}")

Number of features in the dataset is 3 and the number of observations/rows in the dataset is 10

### Checking Missing Values

In [11]:
position_dataset.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [13]:
position_dataset.isna().sum()

Position    0
Level       0
Salary      0
dtype: int64

## Model Building

* Because the dataset is very small we are not going to split the dataset to training and test sets!  
* Here we are making both a simple linear regression and a polynomial regression model for better understanding of how *polynomial regression* work!

In [14]:
random_forest_reg_model = RandomForestRegressor(n_estimators= 7, random_state=RANDOM_STATE)